* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	font-size: 16px;
	color: #fff;
	
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearqc:after {
	content: "";
	display: block;
	clear: both;
}

.box {
	width: 100%;
	background: url(../img/bg2.png) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	filter: brightness(1);
}

.nav {
	position: sticky;
	top: 0;
	z-index: 2;
	overflow-y: auto;
/* 	background-color: #666;
	opacity: 0.5; */
}

nav {
	padding-top: 24px;
	background-color: rgba(255, 255, 255, .2);
	height: .44rem;
	padding-left: .1rem;
	padding-right: .1rem;
}

nav span {
	display: inline-block;
	width: 1.1rem;
	height: 100%;
	line-height: 0.44rem;
	padding-left: .3rem;
	background: url(../img/location.png) no-repeat 0rem .12rem;
	background-size: .2rem .2rem;
	box-sizing: border-box;
}

nav .search-box {
	width: calc(100% - 1.58rem);
	height: .28rem;
	margin-top: .08rem;
	background-image: linear-gradient(to right, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .5) 100%);
	margin-left: .2rem;
	border-radius: .14rem;
	padding-left: .14rem;
	padding-right: .14rem;
}

.search-box input {
	border: none;
	outline: none;
	background-color: transparent;
	padding: 0;
	display: block;
	width: calc(100% - .2rem);
	height: .28rem;
	color: #fff;
	float: left;
}

input::-webkit-input-placeholder {
	color: #fff;
}

.search-box img {
	width: .2rem;
	height: .2rem;
	margin-top: .04rem;
	float: left;
}

.content {
	position: relative;
	z-index: 1;
	height: calc(100% - 24px - .44rem);
	overflow-y: auto;
/* 	background-color: #666;
	opacity: 0.5; */
}

.weather-box {
	color: #fff;
	margin: .3rem;
	background-color: rgba(255, 255, 255, .1);
	padding: .3rem;
	border-radius: .15rem;
	box-shadow: 0px 0px 16px 2px rgba(255, 255, 255, .55) inset;
}

.date {
	margin-right: .3rem;
}

.tem-box {
	margin: .2rem 0;
}

.tem-box span {
	margin-right: .2rem;
	float: left;
}

.tem-box span:last-child {
	margin: .36rem 0 0;
	display: inline-block;
	width: .3rem;
	height: .3rem;

}

.tem {
	width: 1.32rem;
	font-size: .6rem;
	height: .79rem;
}

.wea {
	display: inline-block;
	width: .3rem;
	height: .3rem;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: .3rem .3rem;
	/* background-image: url(../img/qing.png); */
	margin-top: .36rem;
}

.weather-wind span {
	margin-right: .2rem;
}

.weather-wind span:last-child {
	margin: 0;
	/* font-size: 18rem; */
}

.hours-box {
	color: #fff;
	background-color: rgba(255, 255, 255, .2);
}

h4 {
	height: .32rem;
	font-size: .16rem;
	line-height: .32rem;
	padding: 0 .1rem;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	font-weight: 400;
}

.hours-weather {
	overflow-x: auto;
	padding: .1rem;
	text-align: center;
}


.hours-weather ul {
	width: 28.8rem;
	list-style: none;
}

.hours-weather ul li {
	float: left;
	width: 1.2rem;
}

.hours-weather ul li p {
	margin-bottom: .08rem;
}

.hours-weather ul li p:nth-child(2) {
	width: .2rem;
	height: .2rem;
	margin: 0 auto;
	margin-bottom: .08rem;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: .2rem .2rem;
	background-image: url(../img/lei.png);
}

.hours-weather ul li p:last-child {
	margin-bottom: 0;
}


.future-weather {
	margin-top: .3rem;
	color: #fff;
	background-color: rgba(255, 255, 255, .2);
	overflow-y: auto;
}

.future-weather-title {
	border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.future-weather-box {
	padding: .1rem;
}

.future-weather-box ul li {
	padding: .2rem 0;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.future-weather-box ul li p {
	width: 25%;
	float: left;
	font-weight: 400;
	height: 100%;
	line-height: 100%;
}

.future-weather-box ul li i {
	display: block;
	width: .2rem;
	height: .2rem;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: .2rem .2rem;
}

.w-dir {
	text-align: right;
}

.search-ipt::-webkit-input-placeholder {
	color: rgba(255, 255, 255, .5);
}
